:root {
  --navy: #0b3954;
  --main-text: #bfd7ea;
  --red: #ff6978;
  --pink: #ff8c98;
  --light-navy: #2f3b52;
  --white: #edf1f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Tahoma;
  color: var(--main-text);
}

body {
  background: linear-gradient(rgb(46, 59, 84), rgb(24, 28, 40));
}

header,
main {
  max-width: 1040px;
  margin: 0 auto;
}

header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Nav */
.navbar {
  height: 70px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 20px 50px;
}

.navbar-links ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.navbar-links li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 1rem;
  overflow: hidden;
}

.navbar-links ul li a:after {
  content: '';
  position: absolute;
  background: var(--red);
  height: 1px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}

.navbar-links a:hover {
  color: var(--red);
}

.navbar-links a:hover:after {
  width: 100%;
}

/* Burger menu */
.menu-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 50px;
  height: 6px;
  background: var(--main-text);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: var(--main-text);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.burger::before {
  transform: translateY(-16px);
}

.burger::after {
  transform: translateY(16px);
}

.menu-btn.open .burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-btn {
    display: flex;
    z-index: 3;
  }

  .navbar-links {
    position: absolute;
    visibility: none;
    display: none;
    width: 100%;
    top: 0;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    top: 1rem;
  }
}

/* Header */
h1 {
  font-size: clamp(46px, 8vw, 72px);
  margin: 60px 20px 10px 20px;
  color: var(--red);
}

header h2 {
  font-size: clamp(26px, 8vw, 44px);
  margin: 0 20px 60px 20px;
  color: var(--pink);
}

/* Skills section */
.skills {
  margin: 0 auto;
  max-width: 600px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-container > div {
  text-align: center;
  width: 25%;
  padding: 10px;
}

.skills-container i {
  font-size: 36px;
}

/* Projects */
.projects {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 40px 0;
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.project-screenshot {
  max-width: 500px;
}

.project-description > * {
  margin: 20px;
}

.project-description > p {
  position: static;
  padding: 20px;
  background-color: var(--light-navy);
  border-radius: 5px;
  width: auto;
}

@media (min-width: 601px) {
  .project-description > p {
    position: relative;
    z-index: 2;
    left: -40px;
    width: 100%;
  }
}

.project-description h3 {
  color: var(--pink);
}

.project-description h3::after {
  content: '';
  width: 100%;
  position: relative;
  display: block;
  margin-top: 5px;
  height: 1px;
  background-color: var(--pink);
}

.tech-stack {
  display: flex;
}

.tech-item {
  text-align: center;
  width: 80px;
}

.tech-item i {
  font-size: 20px;
}

.project-links {
  text-align: right;
  font-size: 20px;
}

.project-links a i {
  padding: 10px;
  color: var(--main-text);
}

.project-links a i:hover {
  color: var(--red);
}

#projects h2 {
  /* color: #d7e8f5; */
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
  }

  .project img {
    width: 100%;
  }

  .project-description > {
    position: block;
    z-index: 2;
    left: 0;
    width: 100%;
    border-radius: 5px;
  }
}

/* Sections */
section {
  margin-bottom: 60px;
}

section > h2,
section > p {
  margin: 20px;
}

section > h2 {
  color: var(--white);
}

/* Contact */
#contact {
  text-align: center;
}

.links {
  display: inline-block;
  text-align: left;
}

.links a {
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}

.links a i {
  margin-right: 10px;
}

.links a:hover > i {
  color: var(--red);
}

.links a:hover > span {
  color: var(--red);
}
