:root {
  --navy: #0b3954;
  --main-text: #bfd7ea;
  --red: #ff6978;
  --pink: #ff8c98;
  --light-navy: #2f3b52;
  --white: #edf1f7;
  --blue: #5cd0e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--main-text);
}

body {
  background: linear-gradient(rgb(46, 59, 84), rgb(24, 28, 40));
}

header,
main {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Nav */
.navbar {
  height: 70px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 20px 50px;
}

.navbar-links ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.navbar-links li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 1rem;
  overflow: hidden;
}

.navbar-links ul li a:after {
  content: '';
  position: absolute;
  background: var(--red);
  height: 1px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}

.navbar-links a:hover {
  color: var(--red);
}

.navbar-links a:hover:after {
  width: 100%;
}

/* Burger menu */
.menu-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 50px;
  height: 4px;
  background: var(--main-text);
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: var(--main-text);
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.burger::before {
  transform: translateY(-16px);
}

.burger::after {
  transform: translateY(16px);
}

.menu-btn.open .burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Header */
h1 {
  font-size: clamp(46px, 8vw, 68px);
  margin: 60px 20px 10px 20px;
  color: var(--red);
  opacity: 0;
  animation: fadeInAnimation cubic-bezier(0.38, 0.97, 0.56, 0.76) 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

header h2 {
  font-size: clamp(26px, 8vw, 40px);
  margin: 0 20px 60px 20px;
  color: var(--pink);
  opacity: 0;
  animation: fadeInAnimation cubic-bezier(0.38, 0.97, 0.56, 0.76) 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

main {
  opacity: 0;
  animation: fadeInAnimation cubic-bezier(0.38, 0.97, 0.56, 0.76) 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
}

.navbar-links li {
  opacity: 0;
  animation: fadeDownAnimation cubic-bezier(0.38, 0.97, 0.56, 0.76) 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
}

.navbar-links li:nth-child(2) {
  animation-delay: 100ms;
}
.navbar-links li:nth-child(3) {
  animation-delay: 200ms;
}
.navbar-links li:nth-child(4) {
  animation-delay: 300ms;
}

/* Skills section */
.skills {
  margin: 0 auto;
  max-width: 600px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container > div {
  text-align: center;
  width: 25%;
  padding: 10px;
}

.skills-container i {
  font-size: 36px;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 0 20px 80px 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.project-screenshot {
  max-width: 500px;
}

.project-description > * {
  margin: 20px;
}

.project-description > p {
  padding: 20px;
  background-color: var(--light-navy);
  border-radius: 4px;
  width: auto;
}

.project-description h3 {
  color: var(--pink);
}

.project-description h3::after {
  content: '';
  width: 100%;
  position: relative;
  display: block;
  margin-top: 5px;
  height: 1px;
  background-color: var(--pink);
}

.tech-stack {
  display: flex;
}

.tech-item {
  text-align: center;
  width: 80px;
}

.tech-item i {
  font-size: 20px;
}

.project-links {
  text-align: right;
  font-size: 20px;
}

.project-links a i {
  padding: 10px;
  color: var(--main-text);
}

.project-links a i:hover {
  color: var(--red);
}

/* Sections */
section,
#skills {
  margin-bottom: 60px;
}

section > h2,
section > p {
  margin: 20px;
}

section > h2 {
  color: var(--white);
}

/* Contact */
#contact {
  text-align: center;
}

.links {
  display: inline-block;
  text-align: left;
}

.links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.links a i {
  margin-right: 10px;
}

.links a:hover > i,
.social-links a:hover > i,
.project-links a:hover > i {
  color: var(--red);
  transform: scale(1.2);
}

.links a:hover > span {
  color: var(--red);
}

.social-links {
  position: fixed;
  bottom: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a i {
  color: var(--blue);
  padding: 5px;
  font-size: 20px;
}

/* .social-links:after {
  content: '';
  width: 1px;
  background: var(--blue);
  height: 100px;
  margin-top: 10px;
} */

.to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.to-top a i {
  border: solid var(--blue);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 1099px) {
  .social-links,
  .to-top {
    display: none;
  }
}

@media only screen and (max-width: 880px) and (min-width: 701px) {
  .project img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .project {
    flex-direction: column;
    margin: 0;
  }

  .project img {
    width: 100%;
  }

  .project-description > {
    position: block;
    z-index: 2;
    left: 0;
    width: 100%;
    border-radius: 4px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-btn {
    display: flex;
    z-index: 3;
  }

  .navbar-links {
    position: absolute;
    visibility: none;
    display: none;
    width: 100%;
    top: 0;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    top: 1rem;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
